<div *ngIf="this.id === undefined || this.redirection === undefined">
  Redirection not found
</div>
<div *ngIf="this.redirection !== undefined && this.id !== undefined">
  <form [formGroup]="redirectionEditionFormGroup" (ngSubmit)="editRedirection()">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Shortcut</mat-label>
        <input matInput placeholder="f" formControlName="shortcut" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>RedirectUrl</mat-label>
        <input matInput placeholder="facebook.com" formControlName="redirectUrl" required>
      </mat-form-field>
    </p>
    <button mat-raised-button [disabled]="this.redirectionEditionFormGroup.invalid" type="submit">Edit Redirection</button>
  </form>
</div>
