<form [formGroup]="this.loginFormGroup" (ngSubmit)="login()" class="center-text spacer-vertical">
  <div>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="test@example.com" formControlName="email" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
    </p>
    <button mat-fab extended color="primary" [disabled]="this.loginFormGroup.invalid" type="submit">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </div>

</form>
