<form [formGroup]="this.editionFormGroup" (ngSubmit)="editUser()" class="center-text spacer-vertical">
  <div>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [value]="connectedUser.name" formControlName="name" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [value]="connectedUser.email" formControlName="email" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" required formControlName="password">
      </mat-form-field>
    </p>
    <button mat-fab extended color="primary" [disabled]="this.editionFormGroup.invalid" type="submit">
      <mat-icon>edit</mat-icon>
      Edit User
    </button>
  </div>
</form>
<div class="center-text spacer-vertical">
  <button mat-fab extended color="primary" (click)="openPasswordEdition()">
    <mat-icon>edit</mat-icon>
    Edit Password
  </button>
</div>
