<mat-toolbar>
  <div>Go App</div>
  <span class="spacer"></span>
  <div *ngIf="!isOnHomepage()">
    <button mat-fab extended color="primary" (click)="goToHomepage()">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
    <span class="spacer"></span>
  </div>
  <div *ngIf="isOnHomepage()">
    <button mat-fab extended color="primary" (click)="goToHistory()">
      <mat-icon>history</mat-icon>
      History
    </button>
    <span class="spacer"></span>
  </div>
  <div *ngIf="!isLoggedIn">
    <button mat-fab extended color="primary" (click)="login()">
      <mat-icon>login</mat-icon>
      Login
    </button>
    <span class="spacer"></span>
    <button mat-fab extended color="primary" (click)="register()">
      <mat-icon>person_add</mat-icon>
      Register
    </button>
  </div>
  <span *ngIf="isLoggedIn">
    <button mat-fab color="primary" extended (click)="getUserInfo()">
      <mat-icon>account_circle</mat-icon>
      {{this.loggedInEmail}}
    </button>
    <span class="spacer"></span>
    <button mat-fab extended color="primary" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </span>
</mat-toolbar>
