<form [formGroup]="registerFormGroup" (ngSubmit)="createUser()" class="center-text spacer-vertical">
  <div>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="test@example.com" formControlName="email" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Jean Dupont" formControlName="name" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
    </p>
    <button mat-fab extended color="primary" type="submit" [disabled]="this.registerFormGroup.invalid">
      <mat-icon>person_add</mat-icon>
      Register
    </button>
  </div>
</form>
