<form [formGroup]="redirectionEditionFormGroup" (ngSubmit)="createRedirection()" class="center-text spacer-vertical">
  <div>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Shortcut</mat-label>
        <input matInput placeholder="f" formControlName="shortcut" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>RedirectUrl</mat-label>
        <input matInput placeholder="facebook.com" formControlName="redirectUrl" required>
      </mat-form-field>
    </p>
    <button mat-fab extended color="primary" [disabled]="this.redirectionEditionFormGroup.invalid" type="submit">
      <mat-icon>add</mat-icon>
      Create redirection
    </button>
  </div>
</form>
