<form [formGroup]="redirectionEditionFormGroup" (ngSubmit)="createRedirection()">
  <div>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Shortcut</mat-label>
        <input matInput placeholder="f" formControlName="shortcut" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>RedirectUrl</mat-label>
        <input matInput placeholder="facebook.com" formControlName="redirectUrl" required>
      </mat-form-field>
    </p>
    <button mat-raised-button [disabled]="this.redirectionEditionFormGroup.invalid" type="submit">Create Redirection</button>
  </div>
</form>
